<script>
//    $(document).ready(function(){
//        setTimeout(function(){
//            $('[data-aa],[scrolling="no"]').each(function(n,v){
//                v=$(this)
//                v.wrap( "<div class='parent-hold text-center' style='width:"+v.width()+"px;height:"+(v.height()+40)+"px;overflow:hidden;display:inline-block'></div>" );
//                if(v.width()>500){
//                    $('<h6 class="wide-space text-center" title="Please turn off your ad blocker to support the developers :)">ADVERTISEMENT</h6>').insertBefore(v)
//                }
//                n=function(){$('<a href="http://cur.lv/15hnux" target="_blank"><img src="/libs/assets/extras/vape250x250.jpg"></a>').insertBefore(v)}
//                if(v.is(':hidden')){
//                    v.parents('.parent-hold').css('width',250).css('height',250)
//                    n()
//                    if(v.width()>500){
//                        n()
//                    }
//                }
//            })
//        },3000)
//    })
</script>