<section style="padding:30px 0;background:#3c3c3c" class="hidden-xs">
    <div class="container text-center">
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
    </div>
</section>