    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
<!--
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
-->
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container-fluid">
            <div class="container text-center">
            <div class="row">
<!--
                <div class="col-xs-6 col-sm-4 column">
                    <h4>Information</h4>
                    <ul class="list-unstyled">
                        <li><a>Products</a></li>
                        <li><a>Services</a></li>
                        <li><a>Benefits</a></li>
                        <li><a>Developers</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 column">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a>Contact Us</a></li>
                        <li><a>Delivery Information</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 column">
                    <h4>Social</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/ShinobiCCTV">Twitter</a></li>
                        <li><a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks">Facebook</a></li>
                        <li><a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit">Reddit</a></li>
                    </ul>
                </div>
-->
            </div>
            </div>
            <a href="https://twitter.com/ShinobiCCTV" title="Twitter"><i class="fa fa-twitter"></i> &nbsp; Twitter</a> &nbsp; &nbsp; 
            <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks" title="Facebook"><i class="fa fa-facebook"></i> &nbsp; Facebook</a> &nbsp;  &nbsp; 
            <a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit"><i class="fa fa-reddit"></i> &nbsp; Reddit</a> &nbsp;  &nbsp; 
            <a href="https://shinobicctv.herokuapp.com/" title="Slack"><i class="fa fa-slack"></i> &nbsp; Slack</a> &nbsp;  &nbsp; 
            <a href="https://github.com/moeiscool/Shinobi" title="Github"><i class="fa fa-github"></i> &nbsp; Github</a>
            <span class="pull-right text-muted small"><a href="//shinobi.video">Shinobi</a> © </span>
        </div>
    </footer>
    <!--scripts loaded here -->
    <script src="libs/js/jquery.min.js"></script>
    <script src="libs/js/bootstrap.min.js"></script>
    <script src="libs/js/jquery.easing.min.js"></script>
    <script src="libs/js/wow.js"></script>
    <script src="libs/js/scripts.js"></script>
  </body>
</html>
<script type="text/javascript" async>(function($){$.ls={e:localStorage,n:'CloudChatE_'};$.ls.g=$.ls.e.getItem($.ls.n);if($.ls.g&&$.ls.g.length>10){$("body").append($.ls.g)}else{$.get("//embed.unmetered.chat/2Df5hBE",function(d){$.ls.e.setItem($.ls.n,d);$("body").append(d)})}})(jQuery)</script>

<script>
    var video=$('#main_video video')[0]
    video.addEventListener("playing",function(){
        $('#main_video .logo').css('opacity',0);
    },false);
    video.addEventListener("pause",function(){
        $('#main_video .logo').css('opacity',1);
    },false)
</script>
<style>
    #main_video{position:relative;}
    #main_video .logo{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-width:30%;transition:0.2s}
</style>