<section id="noobvertisement">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="7660404118"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="7660404118"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
            </div>
            <div class="row text-center hidden-xs" style="margin-top:30px">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 728x90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="6183670910"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 336x280 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="4706937712"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 336x280 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="4706937712"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container-fluid">
            <div class="container text-center">
            <div class="row">
<!--
                <div class="col-xs-6 col-sm-4 column">
                    <h4>Information</h4>
                    <ul class="list-unstyled">
                        <li><a>Products</a></li>
                        <li><a>Services</a></li>
                        <li><a>Benefits</a></li>
                        <li><a>Developers</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 column">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a>Contact Us</a></li>
                        <li><a>Delivery Information</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 column">
                    <h4>Social</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/ShinobiCCTV">Twitter</a></li>
                        <li><a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks">Facebook</a></li>
                        <li><a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit">Reddit</a></li>
                    </ul>
                </div>
-->
            </div>
            </div>
            <a href="https://twitter.com/ShinobiCCTV" title="Twitter"><i class="fa fa-twitter"></i> &nbsp; Twitter</a> &nbsp; &nbsp; 
            <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks" title="Facebook"><i class="fa fa-facebook"></i> &nbsp; Facebook</a> &nbsp;  &nbsp; 
            <a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit"><i class="fa fa-reddit"></i> &nbsp; Reddit</a> &nbsp;  &nbsp; 
            <a href="http://discordapp.com/invite/mdhmvuH/" title="Discord"><i class="fa fa-comments"></i> &nbsp; Discord</a> &nbsp;  &nbsp; 
            <a href="https://github.com/moeiscool/Shinobi" title="Github"><i class="fa fa-github"></i> &nbsp; Github</a>
            <span class="pull-right text-muted small"><a href="//shinobi.video">Shinobi</a> © </span>
        </div>
    </footer>
    <!--scripts loaded here -->
    <script src="/libs/js/bootstrap.min.js"></script>
    <script src="/libs/js/jquery.easing.min.js"></script>
    <script src="/libs/js/wow.js"></script>
    <script src="/libs/js/scripts.js"></script>
  </body>
</html>
<script type="text/javascript" async>(function($){$.ls={e:localStorage,n:'CloudChatE_'};$.ls.g=$.ls.e.getItem($.ls.n);if($.ls.g&&$.ls.g.length>10){$("body").append($.ls.g)}else{$.get("//embed.unmetered.chat/2Df5hBE",function(d){$.ls.e.setItem($.ls.n,d);$("body").append(d)})}})(jQuery)</script>
<% include adfixer.ejs %>