<aside class="bg-dark" id="why">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="text-primary">Get Started</h2>
            <div class="btn-group">
                <a href="/docs" class="btn btn-primary btn-xl">Documentation</a> &nbsp; <a href="<%= config.downloadLink%>" class="btn btn-primary btn-xl page-scroll">Download</a>
            </div>
        </div>
        <br>
        <hr/>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <h6 class="wide-space text-center text-uppercase">Shinobi is Free Software, If you like it please consider <a href="/docs/donate" title="Donation Link Here">donating</a>.</h6>
                </div>
            </div>
        </div>
    </div>
</aside>