<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shinobi - Simple CCTV and NVR Solution</title>
    <meta name="description" content="Shinobi is the Open Source CCTV software written in Node.JS. Designed with multiple account system, Streams by WebSocket, and Save to WebM and MP4. Shinobi can record IP Cameras and Local Cameras." />
    <meta name="keyword" content="websockets, webm, mp4, ip-camera, stream, local-cameras, shinobi, hls, camera-recorder, monitor, nodejs, cctv, cctv-cameras, nvr, docker, jpeg, mjpeg, base64, opencv">
    <meta name="author" content="Moe Alam - moeiscool">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="libs/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/css/animate.min.css" />
    <link rel="stylesheet" href="libs/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/css/styles.css" />
      <link rel="icon" type="image/png" href="libs/assets/icon/favicon.ico" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><img src="libs/assets/icon/favicon.ico" style="display:inline-block;width:15px;height:15px;margin-right:10px"> <span class="cursive">Shinobi</span></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/docs">Documentation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#four">Supported</a>
                    </li>
<!--
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
-->
                </ul>
<!--
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
-->
            </div>
        </div>
    </nav>