<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shinobi - Simple CCTV and NVR Solution</title>
    <meta name="description" content="Shinobi is the Open Source CCTV software written in Node.JS. Designed with multiple account system, Streams by WebSocket, and Save to WebM and MP4. Shinobi can record IP Cameras and Local Cameras." />
    <meta name="keyword" content="websockets, webm, mp4, ip-camera, stream, local-cameras, shinobi, hls, camera-recorder, monitor, nodejs, cctv, cctv-cameras, nvr, docker, jpeg, mjpeg, base64, opencv">
    <meta name="author" content="Moe Alam - moeiscool">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Shinobi">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/libs/assets/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/libs/assets/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/libs/assets/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/libs/assets/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/libs/assets/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/libs/assets/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/libs/assets/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/libs/assets/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/libs/assets/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/libs/assets/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/libs/assets/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/libs/assets/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/libs/assets/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/libs/assets/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/libs/assets/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/libs/assets/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/libs/assets/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/libs/assets/icon/mstile-310x310.png" />
    <link rel="stylesheet" href="libs/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/css/animate.min.css" />
    <link rel="stylesheet" href="libs/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/css/super-table.css" />
    <link rel="stylesheet" href="libs/css/styles.css" />
    <script src="libs/js/jquery.min.js"></script>
    </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="libs/assets/icon/favicon.ico" style="display:inline-block;width:15px;height:15px;margin-right:10px;border-radius:50%"> <span class="cursive">Shinobi</span></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
<%
            var menu=[
                        {
                            href:'https://github.com/moeiscool/Shinobi/zipball/master',
                            text:'Download',
                            class:'hidden-xs'
                        },
                        {
                            href:'/docs',
                            text:'Documentation',
                            class:''
                        },
                        {
                            href:'/docs/donate',
                            text:'Donate',
                            class:''
                        },
                        {
                            href:'/support',
                            text:'Support',
                            class:''
                        },
                        {
                            href:'/metal',
                            text:'Metal',
                            class:''
                        },
                        {
                            href:'/why',
                            text:'Why',
                            class:''
                        }
                    ]
                    menu.forEach(function(v,n){ %>
                        <li>
                            <a class="<%- v.class %>" href="<%- v.href %>"><%- v.text %></a>
                        </li>
                    <% }) %>
                </ul>
<!--
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
-->
            </div>
        </div>
    </nav>