    <section id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Want to host with us?</h2>
                    <p>Here are some Highly Redundant Blade-based Dedicated Servers</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
                <div class="col-md-4 text-center">
                    <div class="feature">
                        <i class="fa-4x fa fa-superpowers wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Seed</h3>
                    </div>
                    <div style="margin:20px"></div>
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h3>$80 / Month</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Dual Xeon 3.4 Ghz</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 GB Memory</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 73 GB SAS-HDD</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 IPs</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Ubuntu 16.04 Server</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="https://unmetered.io/?cmd=cart&action=add&id=411" class="btn btn-lg btn-block btn-danger">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature">
                        <i class="fa-4x fa fa-eercast wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Stone</h3>
                    </div>
                    <div style="margin:20px"></div>
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h3>$180 / Month</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Dual Xeon 3.4 Ghz</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 4 GB Memory</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 73 GB SAS-HDD</li>
                            <li class="list-group-item"><i class="fa fa fa-star"></i> 240 GB SSD</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 IPs</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Ubuntu 16.04 Server</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="https://unmetered.io/?cmd=cart&action=add&id=411" class="btn btn-lg btn-block btn-danger">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature">
                        <i class="fa-4x fa fa-sun-o wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Sun</h3>
                    </div>
                    <div style="margin:20px"></div>
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h3>$351 / Month</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Dual Xeon E5530 2.4 Ghz</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 32 GB Memory</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2000 GB HDD</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 IPs</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Ubuntu 16.04 Server</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="https://unmetered.io/?cmd=cart&action=add&id=411" class="btn btn-lg btn-block btn-danger">MORE INFO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin:40px"></div>
            <div class="text-center">
                <p>Please leave a note before you complete checkout.</p>
                <p style="font-family:monospace">Please Install Shinobi by moeiscool</p>
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="libs/assets/notes.jpg">
                        <img src="libs/assets/notes.jpg" class="img-responsive">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="fa-4x fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
            <div style="margin:40px"></div>
            <h6 class="wide-space text-center">1000Mbps Port Speed, Soft-Max 700Mbps Throughput per Server</h6>
            <h6 class="wide-space text-center">Once your IPs are assigned to you, you are responsible for updates unless noted in the agreement.</h6>
            <h6 class="wide-space text-center"><a href="https://moeiscool.github.io/Shinobi/">Shinobi</a> is free and open source CCTV software.</h6>
        </div>
    </section>