<section class="bg-primary" id="twopaths">
    <div class="container text-center">
        <h1 style="margin:0">Two Ways to Run Shinobi</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-primary">With us<br><small>A Shinobi installation in the cloud.</small></h2>
                <img style="height:150px" src="/libs/assets/cloud-server.png">
                <p class="text-faded">
                    Great for big operations or for a quick cloud nvr. Kept up to date by us. Support on application usage included.
                </p>
                <div class="btn-group">
                    <a href="/metal" class="btn btn-primary btn-xl">Camera Hosting</a>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-primary">Yourself<br><small>Install on your own rig and network.</small></h2>
                <img style="height:150px" src="/libs/assets/laptop-rocket.png">
                <p class="text-faded">
                    Great for those who have their own rigs and just need the software to keep it awake. To get developer support check out our support packages.
                </p>
                <div class="btn-group">
                    <a href="/support" class="btn btn-primary btn-xl">Support</a>
                </div>
            </div>
        </div>
    </div>
</section>