*{
    transition: 0.2s
}
.section-block li+li {
    margin-top: 5px;
}
code {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: #fff;
    border-radius: 3px;
    color:#333;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    border:1px solid #eee;
}

.body-dark .doc-wrapper,.body-dark .cards-section{
    background:#333;
    color:#eee;
}
.body-dark .cards-section .intro{
    color:#eee;
}
.body-dark .cards-section .item-inner{
    background:#212121;
    border-left-color:#1f1f1f;
    border-right-color:#1f1f1f;
    border-bottom-color:#1f1f1f;
}
.body-dark .doc-section .section-title{border-color:#525252;}
.body-dark .doc-menu > li > a,.doc-sub-menu > li > a{color:#fff}

.body-dark pre,.body-dark code{
    background-color: #2b2b2b;
    color:#fff;
    border: 1px solid #1f1f1f;
}
.body-dark code>code,.body-dark pre>code{border:0}
.body-dark .table-striped > tbody > tr:nth-of-type(odd){
    background-color: #232323;
}
.body-dark .table>tbody>tr>td,.body-dark .table>tbody>tr>th{
    border-color:#333
}

.body-dark .btn-orange,.body-dark .label-warning{
    color:#191919!important
}
.body-dark .btn-default,.body-dark .label-default{
    color:#333!important
}

.body-dark .answer{color:#fff}
.body-dark .jumbotron{background:#232323}

.body-dark.body-default .question {
  color: #53d4d8;
}
.body-dark.body-green .question {
  color: #63b971;
}
.body-dark.body-blue .question {
  color: #41b2ec;
}
.body-dark.body-purple .question {
  color: #bc20f9;
}

#doc-menu{width: 230px;}
#noobvertisement{background: #222!important}