<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shinobi - Simple CCTV and NVR Solution</title>
    <meta name="description" content="Shinobi is the Open Source CCTV software written in Node.JS. Designed with multiple account system, Streams by WebSocket, and Save to WebM and MP4. Shinobi can record IP Cameras and Local Cameras." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="libs/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/css/animate.min.css" />
    <link rel="stylesheet" href="libs/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libs/css/styles.css" />
      <link rel="icon" type="image/png" href="libs/assets/icon/favicon.ico" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><img src="libs/assets/icon/favicon.ico" style="display:inline-block;width:15px;height:15px;margin-right:10px"> <span class="cursive">Shinobi</span></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">Host with us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#four">Supported</a>
                    </li>
<!--
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
-->
                </ul>
<!--
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
-->
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <img src="libs/assets/icon/apple-touch-icon-152x152.png">
                <h1 class="cursive">Shinobi</h1>
                <h4>Deploy Modern CCTV and NVR Today</h4>
                <hr>
                <a href="https://moeiscool.github.com/Shinobi" class="btn btn-primary btn-xl">Host your own</a> &nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Host with us</a>
            </div>
        </div>
        <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
            <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </header>
    <section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="margin-top-0 text-primary">Built On Shinobi</h2>
                    <br>
                    <p class="text-faded">
                        Shinobi can be used as a Baby Monitor, Construction Site Montage Viewer, Store Camera DVR, and much more. With datacenters around the world we can spin up an instance of Shinobi for you.
                    </p>
                    <a href="#two" class="btn btn-default btn-xl page-scroll">Price Plans</a>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="https://github.com/moeiscool/Shinobi/raw/master/web/libs/img/demo.gif">
                        <img src="https://github.com/moeiscool/Shinobi/raw/master/web/libs/img/demo.gif" class="img-responsive" alt="Version 0.1.1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="fa-4x fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Want to host with us?</h2>
                    <p>Here are some Highly Redundant Blade-based Dedicated Servers</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
          <div class="row">
                <div class="col-md-4 text-center">
                    <div class="feature">
                        <i class="fa-4x fa fa-superpowers wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Seed</h3>
                    </div>
                    <div style="margin:20px"></div>
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h3>$80 / Month</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Dual Xeon 3.4 Ghz</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 GB Memory</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 73 GB SAS-HDD</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 IPs</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Ubuntu 16.04 Server</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="https://unmetered.io/?cmd=cart&action=add&id=411" class="btn btn-lg btn-block btn-danger">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature">
                        <i class="fa-4x fa fa-eercast wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Stone</h3>
                    </div>
                    <div style="margin:20px"></div>
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h3>$180 / Month</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Dual Xeon 3.4 Ghz</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 4 GB Memory</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 73 GB SAS-HDD</li>
                            <li class="list-group-item"><i class="fa fa fa-star"></i> 240 GB SSD</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 IPs</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Ubuntu 16.04 Server</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="https://unmetered.io/?cmd=cart&action=add&id=411" class="btn btn-lg btn-block btn-danger">MORE INFO</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="feature">
                        <i class="fa-4x fa fa-sun-o wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Sun</h3>
                    </div>
                    <div style="margin:20px"></div>
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <h3>$351 / Month</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Dual Xeon E5530 2.4 Ghz</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 32 GB Memory</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2000 GB HDD</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> 2 IPs</li>
                            <li class="list-group-item"><i class="fa fa fa-check"></i> Ubuntu 16.04 Server</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="https://unmetered.io/?cmd=cart&action=add&id=411" class="btn btn-lg btn-block btn-danger">MORE INFO</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin:40px"></div>
            <div class="text-center">
                <p>Please leave a note before you complete checkout.</p>
                <p style="font-family:monospace">Please Install Shinobi by moeiscool</p>
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="libs/assets/notes.jpg">
                        <img src="libs/assets/notes.jpg" class="img-responsive">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="fa-4x fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
            <div style="margin:40px"></div>
            <h6 class="wide-space text-center">1000Mbps Port Speed, Soft-Max 700Mbps Throughput per Server</h6>
            <h6 class="wide-space text-center">Once your IPs are assigned to you, you are responsible for updates unless noted in the agreement.</h6>
            <h6 class="wide-space text-center"><a href="https://moeiscool.github.io/Shinobi/">Shinobi</a> is free and open source CCTV software.</h6>
        </div>
    </section>
    <section class="container-fluid bg-primary" id="four">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h2 class="text-primary">Supported by an Active Community</h2>
                    <br>
                    <p class="text-faded">
                        Shinobi is used all around the globe and developed on by hundreds of developers. Some of us like to get together and talk about how Shinobi can be made better.
                    </p>
                    <a href="https://shinobicctv.herokuapp.com/" class="btn btn-primary btn-xl">Join Shinobi on Slack</a>
                    <div style="margin:20px 0">
                        <a href="https://twitter.com/ShinobiCCTV" title="Twitter"><i class="fa fa-4x fa-twitter"></i></a> &nbsp; &nbsp; 
                        <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks" title="Facebook"><i class="fa fa-4x fa-facebook"></i></a> &nbsp;  &nbsp; 
                        <a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit"><i class="fa fa-4x fa-reddit"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div style="background-image:url(libs/assets/slack-large.png);background-size:cover;background-position:center;height:300px;width:300px;border-radius:50%;display:inline-block"></div>
                </div>
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="text-primary">Get Started</h2>
                <a href="https://moeiscool.github.com/Shinobi" class="btn btn-primary btn-xl">Host your own</a> &nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Host with us</a>
            </div>
            <br>
            <hr/>
            <br>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <h6 class="wide-space text-center text-uppercase">CloudCam Infrastructure is supported by <a href="//unmetered.online">UNMETERED</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 <!-- Begin BidVertiser code -->
<SCRIPT SRC="//bdv.bidvertiser.com/BidVertiser.dbm?pid=757658&bid=1863895" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 
                </div>
            </div>
        </div>
        <div class="container" style="overflow:hidden;height:0;">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <script>
                      (adsbygoogle = window.adsbygoogle || []).push({
                        google_ad_client: "ca-pub-3391236677062948",
                        enable_page_level_ads: true
                      });
                    </script>
                </div>
<!--
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
-->
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container-fluid">
            <div class="container text-center">
            <div class="row">
<!--
                <div class="col-xs-6 col-sm-4 column">
                    <h4>Information</h4>
                    <ul class="list-unstyled">
                        <li><a>Products</a></li>
                        <li><a>Services</a></li>
                        <li><a>Benefits</a></li>
                        <li><a>Developers</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4 column">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a>Contact Us</a></li>
                        <li><a>Delivery Information</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 column">
                    <h4>Social</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/ShinobiCCTV">Twitter</a></li>
                        <li><a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks">Facebook</a></li>
                        <li><a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit">Reddit</a></li>
                    </ul>
                </div>
-->
            </div>
            </div>
            <a href="https://twitter.com/ShinobiCCTV" title="Twitter"><i class="fa fa-twitter"></i> &nbsp; Twitter</a> &nbsp; &nbsp; 
            <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks" title="Facebook"><i class="fa fa-facebook"></i> &nbsp; Facebook</a> &nbsp;  &nbsp; 
            <a href="https://www.reddit.com/r/ShinobiCCTV/" title="Reddit"><i class="fa fa-reddit"></i> &nbsp; Reddit</a> &nbsp;  &nbsp; 
            <a href="https://shinobicctv.herokuapp.com/" title="Slack"><i class="fa fa-slack"></i> &nbsp; Slack</a>
            <span class="pull-right text-muted small"><a href="//shinobi.video">CloudCam</a> © </span>
        </div>
    </footer>
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<div class="modal-body">
        		<img src="" id="galleryImage" class="img-responsive" />
        		<p>
        		    <br/>
        		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="fa fa-android-close"></i></button>
        		</p>
        	</div>
        </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script src="libs/js/jquery.min.js"></script>
    <script src="libs/js/bootstrap.min.js"></script>
    <script src="libs/js/jquery.easing.min.js"></script>
    <script src="libs/js/wow.js"></script>
    <script src="libs/js/scripts.js"></script>
  </body>
</html>
<script type="text/javascript" async>(function($){$.ls={e:localStorage,n:'CloudChatE_'};$.ls.g=$.ls.e.getItem($.ls.n);if($.ls.g&&$.ls.g.length>10){$("body").append($.ls.g)}else{$.get("//free.embed.unmetered.chat/2Df5hBE",function(d){$.ls.e.setItem($.ls.n,d);$("body").append(d)})}})(jQuery)</script>
<script type="text/javascript">
window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
heap.load("2226105974");
</script>
