 <% include blocks/header.ejs %>
<header id="first">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
            <img style="border-radius:50%" src="libs/assets/icon/apple-touch-icon-152x152.png">
            <h1 class="cursive">Metal and Maintenance</h1>
            <h4 style="text-transform:uppercase">Professional Support and Dedicated Servers</h4>
            <hr>
            <div class="btn-group">
                <a href="#learn" class="btn btn-primary btn-xl page-scroll">Learn More</a>
            </div>
        </div>
        </div>
    </div>
</header>
<section class="bg-primary" id="learn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Support Packages</h2>
                <p>Shinobi is free software. Ordering a support package supports the engineers.</p>
                <hr class="primary">
            </div>
        </div>
<div class="disply-table" style="margin-top:50px;margin-bottom:30px"><table id="packages" class="super-table">
    <thead><tr><td style="text-align:center;font-size:1.5em;border-bottom:none">&nbsp;</td></tr></thead>
    <tbody></tbody>
    <tfoot><tr><td>&nbsp;</td></tr></tfoot>
</table>
<script>
    var plans=[
        {"name":"Tiny Once",href:'http://cloudchat.online/cart/shinobi/'},
        {"name":"Tiny Monthly",href:'http://cloudchat.online/cart/shinobi/'},
        {"name":"Micro",href:'http://cloudchat.online/cart/shinobi/'},
        {"name":"Mini",href:'http://cloudchat.online/cart/shinobi/'},
        {"name":"Individual",href:'http://cloudchat.online/cart/shinobi/'},
        {"name":"Priority",href:'http://cloudchat.online/cart/shinobi/'},
        {"name":"Enterprise",href:'http://cloudchat.online/cart/shinobi/'},
    ]
    var specs={
        "Bug Support":["10 days","10 days","10 days","5 days","5 days","72 days","1 hour"],
        "General Support":["48 hours","48 hours","48 hours","24 hours","24 hours","5 hours","1 hour"],
        "Email Support":[0,0,0,0,1,1,1],
        "Remote Support":[0,0,0,0,1,1,1],
        "Voice Support":[0,0,0,0,0,0,'FaceTime and Slack'],
        "Feature Request Priority":["Low","Low","Low","Low","Low","Medium","High"],
        "Payment Cycle":["One Time, 1 Week","Monthly","Annually","Annually","Monthly","Monthly","Monthly"],
    }
    var details={
        "Bug Support": "Support and Software Update for when you have found a bug that is interferring with how Shinobi is supposed to function and with how you use Shinobi. Support will be expected within the specified time period.",
        "General Support": "Support on how to use Shinobi. Setting up cameras and tweaking settings for your system and purpose.",
        "Email Support": "Communication through direct email with the creator of Shinobi or senior developer.",
        "Remote Support": "Support through Remote Desktop or through your Shinobi installation from a remote address.",
        "Voice Support": "Communication over FaceTime or Slack, just like a regular call.",
        "Feature Request Priority": "Priority for feature requests and suggestions.",
        "Payment Cycle": "How frequent you will be billed for the selected package.",
    }
    tmp='';
    $.each(plans,function(n,v){
        tmp+='<td><a href="'+v.href+'"><div class="circ-img" style="background-image:url('+v.img+')"></div><br>'+v.name+'</a></td>'
    })
    $('#packages.super-table thead tr').append(tmp);
    tmp='';
    $.each(plans,function(n,v){
        tmp+='<td><a class="btn btn-ghost btn-warning btn-xs" href="'+v.href+'">Order Form</a></td>'
    })
    $('#packages.super-table tfoot tr').append(tmp);
    tmp='';
    $.each(specs,function(m,b){
        if((b instanceof Array)===false){b=[b,b,b,b,b,b,b]}
        tmp+='<tr><td>'+m+'&nbsp; <span class="pull-right tooltipster" title="'+details[m]+'"><i class="fa fa-question-circle name"></i>&nbsp;</span></td>'
        $.each(b,function(c,x){
            if(x===1||x===0){
                if(x===1){x='&nbsp;<i class="fa fa-check text-primary"></i>&nbsp;'}else{x='-'}
            }
            tmp+='<td>'+x+'</td>'
        })
        tmp+='</tr>';
    })
$('#packages.super-table tbody').html(tmp);//$('.tooltipster').tooltipster({position:'right',interactive:true});
</script></div>
    </div>
</section>
<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Dedicated Servers</h2>
                <p>Get Shinobi on metal reserved for you. Maintenance of Shinobi will be taken care of by us.</p>
                <hr class="primary">
            </div>
        </div>
<div class="disply-table" style="margin-top:50px;margin-bottom:30px"><table id="metal" class="super-table">
    <thead><tr><td style="text-align:center;font-size:1.5em;border-bottom:none">&nbsp;</td></tr></thead>
    <tbody></tbody>
    <tfoot><tr><td>&nbsp;</td></tr></tfoot>
</table>
<script>
    var plans=[
        {"name":"Residential",href:'http://cloudchat.online/cart/cloudcam-nvr-hosting/'},
        {"name":"Small Business",href:'http://cloudchat.online/cart/cloudcam-nvr-hosting/'},
        {"name":"Corporate",href:'http://cloudchat.online/cart/cloudcam-nvr-hosting/'},
        {"name":"Big Business",href:'http://cloudchat.online/cart/cloudcam-nvr-hosting/'},
        {"name":"Enterprise",href:'http://cloudchat.online/cart/cloudcam-nvr-hosting/'},
    ]
    var specs={
        "Cameras":["5","8","20","30","64+"],
        "Support Package":["Tiny","Micro","Priority","Enterprise","Enterprise"],
        "Public IPv4 Address":1,
        "x86 64bit Cores":["2","4","8","10","12"],
        "Memory (RAM)":["2GB","4GB","30GB","60GB","120GB"],
        "SSD Space":["50GB","100GB","300GB","700GB","1000GB"],
        "Unmetered Bandwidth":["200Mbit/s","200Mbit/s","1000Mbit/s","1000Mbit/s","1000Mbit/s"],
        "Locations":"Paris, Amsterdam",
    }
    var details={
        "Cameras":"Number of recommended maximum",
        "Support Package":"The included support package to maintain your Shinobi install.",
        "Public IPv4 Address":"The public address that will be used to access your Shinobi instance.",
        "Bandwidth":"The amount of data you can use per month.",
        "Locations":"Where your server will be located. Closer it is, to where your cameras are, the better",
    }
    tmp='';
    $.each(plans,function(n,v){
        tmp+='<td><a href="'+v.href+'"><div class="circ-img" style="background-image:url('+v.img+')"></div><br>'+v.name+'</a></td>'
    })
    $('#metal.super-table thead tr').append(tmp);
    tmp='';
    $.each(plans,function(n,v){
        tmp+='<td><a class="btn btn-ghost btn-warning btn-xs" href="'+v.href+'">Order Form</a></td>'
    })
    $('#metal.super-table tfoot tr').append(tmp);
    tmp='';
    $.each(specs,function(m,b){
        if((b instanceof Array)===false){b=[b,b,b,b,b]}
        tmp+='<tr><td>'+m+'&nbsp; <span class="pull-right tooltipster" title="'+details[m]+'"><i class="fa fa-question-circle name"></i>&nbsp;</span></td>'
        $.each(b,function(c,x){
            if(x===1||x===0){
                if(x===1){x='&nbsp;<i class="fa fa-check text-primary"></i>&nbsp;'}else{x='-'}
            }
            tmp+='<td>'+x+'</td>'
        })
        tmp+='</tr>';
    })
$('#metal.super-table tbody').html(tmp);//$('.tooltipster').tooltipster({position:'right',interactive:true});
</script></div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>