 <% include blocks/header.ejs %>
<header id="first">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
            <img style="border-radius:50%" src="libs/assets/icon/apple-touch-icon-152x152.png">
            <h1 class="cursive">Support Details</h1>
            <h4 style="text-transform:uppercase">Information about Professional Support</h4>
            <hr>
            <div class="btn-group">
                <a href="#learn" class="btn btn-primary btn-xl page-scroll">Learn More</a>
            </div>
        </div>
        </div>
    </div>
</header>
<section id="learn">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">What is General Support?</h2>
                <br>
                <p>
                    Help in using the application itself. Setting up cameras and tweaking settings for your system and purpose.
                </p>
                <p>We will answer your questions about how Shinobi works, the different ways you can use it, and it's documentation.</p>
                <div class="btn-group">
                    <a href="https://shinobicctv.herokuapp.com/" class="btn btn-default btn-xl page-scroll"><i class="fa fa-slack"></i> Slack</a> 
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/libs/assets/nerd.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">What is Bug Support?</h2>
                <br>
                <p>
                    Get support and software updates for when you have found a bug that is interferring with how you use Shinobi. Completion for bug reports will be addressed within the specified time based on your selected package.
                </p>
                <p>There are developers already addressing bugs. Due to limited resources support is prioritized.</p>
                <p>You may communicate with us by creating an Issue on Github, opening a Ticket, or simply a developer on Slack.</p>
                <div>
                    <a href="https://shinobicctv.herokuapp.com/" class="btn btn-default"><i class="fa fa-slack"></i> Slack</a> 
                    <a href="http://cloudchat.online/tickets/new/" class="btn btn-default"><i class="fa fa-ticket"></i> Ticket</a> 
                    <a href="https://github.com/moeiscool/Shinobi/issues" class="btn btn-default"><i class="fa fa-github"></i> Github</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/libs/assets/engineer.png">
            </div>
        </div>
    </div>
</section>
<section id="learn3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">What is Remote Support?</h2>
                <br>
                <p>Installation, Monitors, and Settings. Get a developer to configure your system for you or give you pointers as you do it yourself.</p>
                <p>Support through Remote Desktop, SSH, or through your Shinobi installation from a remote address makes support quick and painless.</p>
                <div class="btn-group">
                    <a href="/docs" class="btn btn-default btn-xl page-scroll"><i class="fa fa-book"></i> Docs</a> 
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/libs/assets/computer-program.png">
            </div>
        </div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>