<% config.Title='Support'; %>
<% include blocks/header.ejs %>
<style>
    header{background-image:url(/libs/assets/backgrounds/5.jpg)}
</style>
<header id="first">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
            <img style="max-width:350px;width:100%" src="/libs/assets/iot-web.png">
            <h1 class="cursive">Support</h1>
            <h4 style="text-transform:uppercase">Information about Professional Support</h4>
            <hr>
            <div class="btn-group">
                <a href="#learn" class="btn btn-primary btn-xl page-scroll">Learn More</a>
            </div>
        </div>
        </div>
    </div>
</header>
<section class="bg-primary" id="support">
    <% include blocks/table-support.ejs %>
</section>
<section id="learn">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">General Support</h2>
                <br>
                <p class="large">
                    Help in using the application itself. Setting up cameras and tweaking settings for your system and purpose.
                </p>
                <p class="large">We will answer your questions about how Shinobi works, the different ways you can use it, and it's documentation.</p>
                <div class="btn-group">
                    <a href="http://discord.gg/mdhmvuH/" class="btn btn-default btn-xl page-scroll"><i class="fa fa-comments"></i> Discord</a> 
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/libs/assets/nerd.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Bug Support</h2>
                <br>
                <p class="large">
                    Get support and software updates for when you have found a bug that is interferring with how you use Shinobi. Completion for bug reports will be addressed within the specified time based on your selected package.
                </p>
                <p class="large">There are developers already addressing bugs. Due to limited resources support is prioritized.</p>
                <p class="large">You may communicate with us by creating an Issue on Github, opening a Ticket, or simply finding a certified developer on Discord.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="/libs/assets/computer-program.png">
            </div>
        </div>
    </div>
</section>
<section id="learn3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="margin-top-0 text-primary">Remote Support</h2>
                <br>
                <p class="large">Installation, Monitors, and Settings. Get a developer to configure your system for you or give you pointers as you do it yourself.</p>
                <p class="large">Support through Remote Desktop, SSH, or through your Shinobi installation from a remote address makes support quick and painless.</p>
                <div>
                    <a href="http://discord.gg/mdhmvuH/" class="btn btn-default"><i class="fa fa-comments"></i> Discord</a> &nbsp; 
                    <a href="http://cloudchat.online/tickets/new/" class="btn btn-default"><i class="fa fa-ticket"></i> Ticket</a> &nbsp; 
                    <a href="https://github.com/moeiscool/Shinobi/issues" class="btn btn-default"><i class="fa fa-github"></i> Github</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/libs/assets/engineer.png">
            </div>
        </div>
    </div>
</section>
<% include blocks/adstrip.ejs %>
<section class="bg-primary" id="learn4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Feature Request Priority</h2>
                <br>
                <p class="large">Level of priority for a feature or suggestion that will be considered, planned, and implemented.</p>
                <p class="large">Shinobi is gets better every day. These developers care about the code laid into software that will ultimately run on thousands of machines.</p>
                <p class="large">Not all requests are implemented to maintain application performance.</p>
                <div class="btn-group">
                    <a href="https://www.reddit.com/r/ShinobiCCTV/" class="btn btn-default btn-xl page-scroll"><i class="fa fa-reddit"></i> Reddit</a> 
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img style="max-height:400px" src="/libs/assets/iot-web.png">
            </div>
        </div>
    </div>
</section>
<section id="learn5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">Private Feature Integrations</h2>
                <br>
                <p class="large">Priority and Enterprise clients have the option of custom features integration in their private instances. Remote access will be required to integrate features in private installations.</p>
                <div class="btn-group">
                    <a href="http://cloudchat.online/tickets/new/" class="btn btn-xl btn-default"><i class="fa fa-ticket"></i> Ticket</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img style="max-height:400px" src="/libs/assets/iot-network.png">
            </div>
        </div>
    </div>
</section>
<section id="learn6" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Support over the Phone</h2>
                <br>
                <p class="large">Don't bother waiting for a forum post or a message. Get a call.</p>
                <p class="large">Get voice support over FaceTime and Discord. Call when you are in need of assistance and talk to a developer of the platform.</p>
                <div class="btn-group">
                    <a href="http://discord.gg/mdhmvuH/" class="btn btn-default btn-xl page-scroll"><i class="fa fa-comments"></i> Discord</a> 
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img style="max-height:400px" src="/libs/assets/meeting.png">
            </div>
        </div>
    </div>
</section>
<% include blocks/adstrip.ejs %>
<aside class="bg-dark" id="why">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="text-primary">Get Started</h2>
            <div class="btn-group">
                <a href="#packages" class="btn btn-primary btn-xl page-scroll">Packages</a> &nbsp; <a href="/docs" class="btn btn-primary btn-xl">Documentation</a>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <h6 class="wide-space text-center text-uppercase">Shinobi is Free Software, If you like it please consider <a href="/docs/donate" title="Donation Link Here">donating</a>.</h6>
                </div>
            </div>
        </div>
    </div>
</aside>
<% include blocks/footer.ejs %>