<% config.Title='Why'; %>
<% include blocks/header.ejs %>
<style>
    .table ul li:not(:last-child){margin-bottom:10px}
    .table td{padding:10px}
    .table tr td:first-child{width:30%;font-weight:bold}
    code{color:#231f20}
    header{background-image:url(/libs/assets/backgrounds/1.jpg)}
</style>
<header id="first">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
                <blockquote>
                    <p>
                        I wanted to make a world class CCTV platform. One that anyone could use. Simply login to your account, add camera details, set options, and away you go. No client app installations. Viewing streams and recordings on your mobile device by simply opening a web page.
                    </p>
                    <p>
                        This means you could view it on any device with a capable web browser. A base was needed to start with so I took to the internet for more answers.
                    </p>
                    <p>
                        A popular CCTV application born in 2003 was the primary choice but found it wasn't capable of fufilling the role.
                    </p>
                    <small>Moe Alam</small>
                </blockquote>
            <hr>
            <div class="btn-group">
                <a href="#zm-list" class="btn btn-primary btn-xl page-scroll">Why?</a>
            </div>
        </div>
        </div>
    </div>
</header>
<% include blocks/adstrip.ejs %>
<section id="zm-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Why it didn't work</h2>
                <p>Specific reasons why the other platform could not be used.</p>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
      <table class="table" style="font-size:15pt">
<!--
          <thead>
              <tr>
                  <th></th>
              </tr>
          </thead>
-->
          <tbody>
              <% [
                  {
                      title:'MJPEG streams : no good',
                      text:'<ul><li>With MJPEG you are opening a new stream every time you create an image with an MJPEG url. Even if you remove this element it will continue to eat resources from the server and client. Only way to deal with it currently is through an <code>iframe</code>, <code>popup</code>, or <code>hard refresh</code>.</li><li><i>Shinobi addresses this with <code>Websocket</code> streams. As frames are captured by FFMPEG they are base64 encoded and sent to the client. Shinobi can also output HLS (m3u8), MJPEG (in an iframe), and JPEG (on a timer).</i></li><li>MJPEG streams are limited in many browsers. About 6-8 Streams maximum. Unless you turn off this limitation in the browsers settings, but of course mobile doesn\'t normally have this option exposed to users.</li><li><i>In Shinobi you don\'t have to worry about that with Bas64 or JPEG streams you can trick the browser into just letting you do it anyway. Base64 is technically using 1 pipe to the client, the Websocket. While JPEG is just refreshing an image on a timer.</i></li></ul>',
                  },
                  {
                      title:'JPEG Storage : mildly acceptable',
                      text:'<ul><li>Saving each frame as a separate file in JPEG format can have a seriously detrimental effect on storage space and the hardware itself. Hardware is more likely to fail under the stress of continuously saving JPEG files to storage.</li><li><i>Shinobi saves to WebM and MP4 files. While MP4 takes a fair amount of space.. its level of CPU usage during encoding for H.264 streams is just amazing.</i></li></ul>',
                  },
                  {
                      title:'Using too many languages',
                      text:'<ul><li>The platform uses Perl, PHP, JavaScript, C++, HTML, CSS, MySQL, and probably more. This makes it difficult to modify the code for other purposes.</li><li><i>Shinobi uses JavaScript, HTML, CSS, and MySQL. Simple right? It should be.</i></li></ul>',
                  },
                  {
                      title:'Outdated methods',
                      text:'<ul><li>While connected to the dashboard will query the database for events every few minutes, continuously getting/counting the same events over and over.</li><li><i>Shinobi uses Websockets to get real-time data about Videos and Events.</i></li><li>For every camera a new process is created every time a viewer opens a stream. 1 Stream = 1 Process.</li><li><i>Shinobi uses 1 process per camera for all viewers.</i></li></ul>',
                  },
                  {
                      title:'General Issues',
                      text:'<ul><li>No Audio recording</li><li>No ability to re-stream</li></ul>',
                  },
              ].forEach(function(v,n){ %>
              <tr>
                  <td><%-v.title%></td>
                  <td><%-v.text%></td>
              </tr>
           <%  }) %>
          </tbody>
      </table>
        <blockquote>
            <img src="libs/assets/moe.png" style="width:350px" class="pull-right">
            <p>I couldn't use the current software solutions that were present.</p>
            <p>So I began Shinobi.</p>
            <p><small>Moe Alam</small></p>
        </blockquote>
    </div>
  </section>
<section class="bg-primary" id="learn4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Why Discord for Chat?</h2>
                <br>
                <p class="large">Slack was the primary choice but it turned out there was a limit on how many people can get invitations for free teams. Not to mention the extra hoops required to invite new members. <i>We don't have time for that.</i></p>
                <div class="btn-group">
                    <a href="http://discordapp.com/invite/mdhmvuH/" class="btn btn-primary btn-xl">Join us on Discord</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <iframe src="https://discordapp.com/widget?id=264819784292499457&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>