<% var Title='Donate'; %>
<% include blocks/header.ejs %>
<body class="body-orange body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon icon_gift"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                        <div class="content-inner">
                            <section id="chartjs" class="doc-section">
                                <div class="jumbotron">
        <p>This application may be free but the time spent and the energy put in isn't. Please consider donating or signing up to a support plan to keep this project running strong!</p>
<p><strong>Paid Support :</strong> <a href="http://cloudchat.online/cart/shinobi/">from @moeiscool, The Lead Developer</a></p>

<p><strong>PaypalAddress :</strong> paypal@m03.ca</p>

<p><strong>Bitcoin Address :</strong> 1HtjAgbN9iEBfR4xqzwtJZmDUGcTkqoAPF</p>


</div>
<div class="section-block">
<h3 class="block-title question">
<a id="user-content-cant-donate--thats-alright" class="anchor" href="#cant-donate--thats-alright" aria-hidden="true"></a>Can't Donate $? That's alright.</h3>

<p>All these are donations in a way :)</p>

<ul>
<li>Hit the star on <a href="https://github.com/moeiscool/Shinobi">Github</a>!</li>
<li>Spread the word!</li>
<li>Do bug reports in the <a href="https://github.com/moeiscool/Shinobi/issues">Issues</a>
</li>
<li>Commenting and upvoting this FontAwesome request for adding the <a href="https://github.com/FortAwesome/Font-Awesome/issues/10122">cloud icon</a></li>
<li>Ask questions and make suggestions on Slack and Reddit</li>
<li>Checking out <a href="https://unmetered.online">UNMETERED</a> for goodies in IoT services.
</li>
<li>Turning <b>off</b> your <strong>AdBlocker</strong> on this site.</li>
<li>Watching, Commenting, and Subscribing to the <a href="https://www.youtube.com/user/MrMoea92">YouTube</a> videos will help too :D</li>
</ul>

<p><em>Thanks for stopping by!</em></p>

<p>-Moe Alam</p>

<p style="font-size:20pt"><a href="https://shinobicctv.herokuapp.com/"><i class="fa fa-slack"></i></a> &nbsp; <a href="https://www.reddit.com/r/ShinobiCCTV/"><i class="fa fa-reddit"></i></a> &nbsp; <a href="https://www.youtube.com/user/MrMoea92"><i class="fa fa-youtube"></i></a> &nbsp; <a href="https://twitter.com/ShinobiCCTV"><i class="fa fa-twitter"></i></a> &nbsp; <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks"><i class="fa fa-facebook"></i></a> &nbsp; <a href="https://github.com/moeiscool/Shinobi"><i class="fa fa-github"></i></a></p>
</div>
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

