<% var Title='Donate'; %>
<% include blocks/header.ejs %>
<body class="body-green body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon icon_gift"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                        <div class="content-inner">
                            <section id="chartjs" class="doc-section">
                                <div class="jumbotron">
        <p>Ordering a License, Paid Support, or anything from <a href="//camera.observer">here</a> will add to the contribution meter located above. <i class="fa fa-smile-o"></i></p>
<p><strong>Paid Support :</strong> <a href="/support">from @moeiscool, The Lead Developer</a></p>

<div><p><strong>Paypal Address :</strong> <a href="https://www.paypal.me/ShinobiCCTV">paypal@m03.ca</a></p></div>

<p><strong>Bitcoin Address :</strong> 1FvC7M8P9wVT1hXwHj8ugxpZj8JGfGyUDu</p>

<small>PayPal and Bitcoin contributions will not appear in the contribution count.</small>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 728x90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="6183670910"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="section-block">
<h3 class="block-title question">
<a id="user-content-cant-donate--thats-alright" class="anchor" href="#cant-donate--thats-alright" aria-hidden="true"></a>Can't Donate $? That's alright.</h3>

<p>All these are donations in a way :)</p>

<ul>
<li>Hit the star on <a href="https://github.com/moeiscool/Shinobi">Github</a>!</li>
<li>Spread the word!</li>
<li>Do bug reports in the <a href="https://github.com/moeiscool/Shinobi/issues">Issues</a>
</li>
<li>Commenting and upvoting this FontAwesome request for adding the <a href="https://github.com/FortAwesome/Font-Awesome/issues/10122">cloud icon</a></li>
<li>Checking out <a href="https://unmetered.online">UNMETERED</a> for goodies in IoT services.
</li>
<li>Turning <b>off</b> your <strong>AdBlocker</strong> on this site.</li>
<li>Watching, Commenting, and Subscribing to the <a href="https://www.youtube.com/user/MrMoea92">YouTube</a> videos will help too :D</li>
</ul>

<p><em>Thanks for stopping by!</em></p>

<p>-Moe Alam</p>

<p style="font-size:20pt"><a href="http://discordapp.com/invite/mdhmvuH/"><i class="fa fa-comments"></i></a> &nbsp; <a href="https://www.reddit.com/r/ShinobiCCTV/"><i class="fa fa-reddit"></i></a> &nbsp; <a href="https://www.youtube.com/user/MrMoea92"><i class="fa fa-youtube"></i></a> &nbsp; <a href="https://twitter.com/ShinobiCCTV"><i class="fa fa-twitter"></i></a> &nbsp; <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks"><i class="fa fa-facebook"></i></a> &nbsp; <a href="https://github.com/moeiscool/Shinobi"><i class="fa fa-github"></i></a></p>
</div>
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

