<% var Title='Donate'; %>
<% include blocks/header.ejs %>
<body class="body-orange body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon icon_gift"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                        <div class="content-inner">
                            <section id="chartjs" class="doc-section">
                                <div class="jumbotron">
        <p>$5 from each person that visits the github page would be enough. Currently all hours spent on Shinobi are entirely voluntary. There is no income from sharing this program with you, so all support means a great deal.</p>

<h3><a id="user-content-just-a-side-note-paypal-is-the-best-way-to-donate--paypalm03ca-" class="anchor" href="#just-a-side-note-paypal-is-the-best-way-to-donate--paypalm03ca-" aria-hidden="true"></a>Just a side note: Paypal is the best way to donate : <a href="mailto:paypal@m03.ca">paypal@m03.ca</a> :)</h3>

<p><strong>Bitcoin Address :</strong> 1HtjAgbN9iEBfR4xqzwtJZmDUGcTkqoAPF</p>

<p><a href="https://www.youcaring.com/moealamthecreatorofshinobi-759887"><img width="60" src="https://camo.githubusercontent.com/7f5086a7ba48cadd571ddf9931fcfcfe745496f7/68747470733a2f2f7374617469632e796f75636172696e672e636f6d2f696d672f70617970616c2d69636f6e2e737667" data-canonical-src="https://static.youcaring.com/img/paypal-icon.svg"></a> 
<a title="CAD" href="https://gratipay.com/Shinobi-The-Open-Source-CCTV-Solution/"><img alt="Click here to lend your support to: Shinobi, Open Source CCTV written in Node.js and make a donation!" src="https://camo.githubusercontent.com/6174d8f5f2b8b204d80cf131d389020a21a2412f/68747470733a2f2f6173736574732e67726174697061792e636f6d2f67726174697061792e7376673f657461673d3374476953423555775f302d6f57694c4c78417170517e7e" border="0" data-canonical-src="https://assets.gratipay.com/gratipay.svg?etag=3tGiSB5Uw_0-oWiLLxAqpQ~~"></a> <a title="USD,XBT..." href="https://www.bountysource.com/teams/shinobi"><img src="https://camo.githubusercontent.com/9df70ccb34219de942f67e6f5279b4e852d66861/68747470733a2f2f643262627476676e6875783665712e636c6f756466726f6e742e6e65742f6173736574732f426f756e7479736f757263652d677265656e2d66326634333765643732376565326361636165653366353539633139303763622e706e67" data-canonical-src="https://d2bbtvgnhux6eq.cloudfront.net/assets/Bountysource-green-f2f437ed727ee2cacaee3f559c1907cb.png"></a> <a href="https://pledgie.com/campaigns/33051"><img alt="Click here to lend your support to: Shinobi, Open Source CCTV written in Node.js and make a donation at pledgie.com !" src="https://camo.githubusercontent.com/c1ec483cfc585bc8f2dc82bc6fb543149763c976/68747470733a2f2f706c65646769652e636f6d2f63616d706169676e732f33333035312e706e673f736b696e5f6e616d653d6368726f6d65" border="0" data-canonical-src="https://pledgie.com/campaigns/33051.png?skin_name=chrome"></a> <a href="https://www.gofundme.com/ShinobiTV"><img src="https://camo.githubusercontent.com/a9d1750181bdc56e903af596feb2470b2c7e9668/68747470733a2f2f66656263333736646166363133316132383138312d33373231636333306230643633323539623232313133383164313433316135302e73736c2e6366312e7261636b63646e2e636f6d2f67666d2d6c6f676f2d73696e676c652d323031362e706e67" data-canonical-src="https://febc376daf6131a28181-3721cc30b0d63259b2211381d1431a50.ssl.cf1.rackcdn.com/gfm-logo-single-2016.png"></a></p>
</div>
<div class="section-block">
<h3 class="block-title question">
<a id="user-content-cant-donate--thats-alright" class="anchor" href="#cant-donate--thats-alright" aria-hidden="true"></a>Can't Donate $? That's alright.</h3>

<p>All these are donations in a way :)</p>

<ul>
<li>Hit that star!</li>
<li>Spread the word!</li>
<li>Do bug reports in the <a href="https://github.com/moeiscool/Shinobi/issues">Issues</a>
</li>
<li>Ask questions and make suggestions on Slack and Reddit</li>
<li>Checking out <a href="https://unmetered.online">UNMETERED</a>
</li>
<li>Turning off your <strong>AdBlocker Off</strong> on this site.</li>
<li>Watching, Commenting, and Subscribing to the <a href="https://www.youtube.com/user/MrMoea92">YouTube</a> videos will help too :D</li>
</ul>

<p><em>Thanks for stopping by!</em></p>

<p>-Moe Alam</p>

<p><a href="https://shinobicctv.herokuapp.com/">Slack</a> - <a href="https://www.reddit.com/r/ShinobiCCTV/">Reddit</a> - <a href="https://www.youtube.com/user/MrMoea92">YouTube</a> - <a href="https://twitter.com/ShinobiCCTV">Twitter</a> - <a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks">Facebook</a></p>
</div>
<div class="section-block">
<h3 class="block-title">
<a id="user-content-enough-talk-wheres-the-download" class="anchor" href="#enough-talk-wheres-the-download" aria-hidden="true"></a>Enough Talk! Where's the Download!</h3>

<p><a href="<%=config.downloadLink%>"><%=config.downloadLink%></a></p>
</div>
<div class="section-block">
<h3 class="block-title">
<a id="user-content-frequently-asked-questions" class="anchor" href="#frequently-asked-questions" aria-hidden="true"></a>Frequently Asked Questions</h3>

<p><a href="https://github.com/moeiscool/Shinobi/wiki/FAQ">https://github.com/moeiscool/Shinobi/wiki/FAQ</a></p>
</div>
<div class="section-block">
<h3 class="block-title">
<a id="user-content-supported-cameras" class="anchor" href="#supported-cameras" aria-hidden="true"></a>Supported Cameras</h3>

<p><a href="https://github.com/moeiscool/Shinobi/wiki/Supported-Cameras">https://github.com/moeiscool/Shinobi/wiki/Supported-Cameras</a></p>
</div>
<div class="section-block">
<h3 class="block-title">
<a id="user-content-supported-systems" class="anchor" href="#supported-systems" aria-hidden="true"></a>Supported Systems</h3>

<p><a href="https://github.com/moeiscool/Shinobi/wiki/Supported-Systems">https://github.com/moeiscool/Shinobi/wiki/Supported-Systems</a></p>
                                </div><!--//section-block-->
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

