<% var Title='Motion Detection'; %>
<% include blocks/header.ejs %>
<body class="body-green body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon fa fa-plug"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="stemkoski" class="doc-section">
<div class="markdown-body">
        <p>To use a <b>Plugin</b> please refer to the <a href="/docs/plugins">Plugins</a> page</p>
<h2>
<a id="user-content-motion-detection-and-object-tracking-plugins" class="anchor" href="#motion-detection-and-object-tracking-plugins" aria-hidden="true"></a>Motion Detection and Object Tracking Plugins</h2>
<table class="table table-striped">
  <tbody><tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
<th>Warnings</th>
</tr>
  <tr>
<td>stemkoski Motion Detector</td>
<td>Node.js, <b>shinobi-stemkoski.js</b>
</td>
<td>This is a method for reading differences in frames with the <a href="https://github.com/Automattic/node-canvas">node-canvas</a>. The method was made by <b>@stemkoski</b> on github, hence the name.</td>
<td>Region Detector does not seem to work correctly. Full frame detection works.</td>
</tr>
  <tr>
<td>OpenCV Object Tracker</td>
<td>Node.js, <b>shinobi-opencv.js</b>
</td>
<td>This is an object tracker interfaced through a Node.js wrapper.</td>
<td>Frame input is limited to 1 fps or you will get Segmentation errors causing the plugin to crash.</td>
</tr>
  <tr>
<td>OpenCV Object Tracker</td>
<td>Python, <b>shinobi-opencv.py</b>
</td>
<td>An attempt at copying the node.js version.</td>
<td><b>Currently does not work. Process will not stay alive for requests.</b></td>
</tr>
  <tr>
<td>CCV.js Object Tracker</td>
<td>Node.js, <b>shinobi-ccv.js</b>
</td>
<td>Currently only a face detector. The current cascade can be replaced.</td>
<td>Uses a lot of CPU power, like a lot.</td>
</tr>
</tbody></table>
<h2>
<a id="user-content-why-arent-these-just-integrated" class="anchor" href="#why-arent-these-just-integrated" aria-hidden="true"></a>Why aren’t these just integrated?</h2>
<p>Not everyone uses motion detection or object tracking and the libraries required can be bothersome to install, based on the OS. For example if I make shinobi-opencv.js a feature then everyone will be required to install OpenCV 2.4 just to use basic features in Shinobi. This also allows us to swap the plugin with a custom one or run it on another machine entirely. Sharing the work between multiple machines can be a great way to optimize performance.</p>

      </div>
                            </section>
                            <section id="stemkoski" class="doc-section">
<h1><a id="user-content-shinobi-stemkoski-motion-detector" class="anchor" href="#shinobi-stemkoski-motion-detector" aria-hidden="true"></a>Shinobi stemkoski Motion Detector</h1>

<p>Installing Motion Detection plugin for Shinobi. Method used is based on <a href="https://stemkoski.github.io/Three.js/Webcam-Motion-Detection.html">stemkoski JS Motion Detection</a>.</p>

<div class="row">
<div class="section-block col-md-6">
<h3 class="block-title question">Ubuntu and Debian only</h3>

<pre><code>sudo apt-get install libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev build-essential g++
</code></pre>
</div>
<div class="section-block col-md-6">
<h3 class="block-title question">CentOS only</h3>

<pre><code>su -c 'yum install cairo cairo-devel cairomm-devel libjpeg-turbo-devel pango pango-devel pangomm pangomm-devel giflib-devel'
yum search arial
yum install liberation-sans-fonts.noarch
</code></pre>
</div>
</div>
<p>Install the Node.js Canvas engine</p>

<pre><code>sudo npm install canvas
</code></pre>

<p>Navigate to directory for the stemoski plugin.</p>

<pre><code>cd plugins/stemkoski
</code></pre>
                                
<p>Copy the config file.</p>

<pre><code>cp conf.sample.json conf.json
</code></pre>

<p>Edit it the new file. Host should be <code>localhost</code> and port should match the <code>listening port for camera.js</code>.</p>

<pre><code>nano conf.json
</code></pre>

<p>Start the plugin.</p>

<pre><code>node shinobi-stemkoski.js
</code></pre>

<p>Or to daemonize with PM2.</p>

<pre><code>pm2 start shinobi-stemkoski.js
</code></pre>

<p>Doing this will reveal options in the monitor configuration. Shinobi does not need to be restarted when a plugin is initiated or stopped.</p>

<p><em>Thanks to Cairo and others for these dependencies. Thanks to stemkoski as the JS image comparing is based on their research. I or Shinobi are not affiliated with stemkoski or Cairo.</em></p>

<p>Shinobi Plugin by : Moe Alam</p>
                            </section><!--//doc-section-->

                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li><a class="scrollto" href="#user-content-motion-detection-and-object-tracking-plugins">Motion Detection and Object Tracking Plugins</a></li>
                                <li><a class="scrollto" href="#user-content-why-arent-these-just-integrated">Why aren’t these just integrated?</a></li>
                                <li><a class="scrollto" href="#user-content-shinobi-stemkoski-motion-detector">Shinobi stemkoski Motion Detector</a></li>
                                <li><ul class="nav doc-sub-menu">
                                    <li><a href="/docs">Home</a></li>
                                    <li><a href="/docs/start">Quick Start</a></li>
                                    <li><a href="/docs/api">API Access</a></li>
                                </ul></li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

