<% var Title='Get Started'; %>
<% include blocks/header.ejs %>
<body class="body-orange body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa fa-bolt"></i> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="download-section" class="doc-section">
                                <h2 class="section-title">Download</h2>
                                <div class="section-block">
                                    <a class="pull-right" href="http://volcanoes.ecrater.com/p/27153580/volcano-vaporizer-110v-starter-kit-for" target="_blank"><img src="/libs/assets/extras/vape250x250.jpg"></a>
                                    <p>If you have questions please post on Reddit or Discord.</p>
                                    <a class="btn btn-primary" href="<%= config.downloadLink %>">Download</a>
                                </div>
                            </section><!--//doc-section-->
                            <section id="requirement-section" class="doc-section">
                                <h2 class="section-title">Requirements</h2>
                                <div class="section-block">
                                    <ul>
                                        <li>MySQL Server and Client</li>
                                        <li>Node.js 7.2.0 or higher

                                        <ul>
                                        <li>check your version with <code>nodejs -v</code> or <code>node -v</code>
                                        </li>
                                        </ul>
                                        </li>
                                        <li>FFMPEG 2.8 or higher with libvpx and libx264.

                                        <ul>
                                        <li>Install <a href="https://s3.amazonaws.com/cloudcamio/ffmpeg-release-64bit-static.tar.xz">FFMPEG 3.x</a> for the best performance with H.264/H.265 Cameras</li>
                                        </ul>
                                        </li>
                                        <li>Linux or MacOS base operating system capable of running the previously mentioned libraries and programs.

                                        <ul>
                                        <li>Virtual Machines use Linux.</li>
                                        <li>Currently Windows cannot natively run Shinobi. This is due to the choice of certain exec commands and not the JavaScript itself. You can adapt it for use on Windows but it will take one with a sharp mind and a bold heart.</li>
                                        </ul>
                                        </li>
                                    </ul>
                                </div>
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                            </section><!--//doc-section-->
                            <section id="installation-section" class="doc-section">
                                <h2 class="section-title">Installation</h2>
                                <% include blocks/install/docker.ejs %>
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                                <% include blocks/install/ubuntu_easy.ejs %>
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                                <% include blocks/install/ubuntu_hard.ejs %>
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                                <% include blocks/install/macos.ejs %>
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                                <% include blocks/install/vbox.ejs %>
                            </section><!--//doc-section-->
                            <section id="clean-section" class="doc-section">
                                <h2 class="section-title">Clean up</h2>
                                <% include blocks/install/cron.ejs %>
                            </section><!--//doc-section-->
                            <section id="account-section" class="doc-section">
                                <h2 class="section-title">Account Management</h2>
                                <% include blocks/install/account.ejs %>
                            </section><!--//doc-section-->
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                            <section id="update-section" class="doc-section">
                                <h2 class="section-title">Updating Shinobi</h2>
                                <% include blocks/install/update.ejs %>
                            </section><!--//doc-section-->
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                            <section id="daemon-section" class="doc-section">
                                <h2 class="section-title">Daemonize and Startup</h2>
                                <% include blocks/install/daemon.ejs %>
                            </section><!--//doc-section-->
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                            <section id="code-section" class="doc-section">
                                <h2 class="section-title">Configuration</h2>
                                <% include blocks/install/config.ejs %>
<iframe data-aa='495587' src='//ad.a-ads.com/495587?size=728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                            </section><!--//doc-section-->
                            <section id="trouble-section" class="doc-section">
                                <h2 class="section-title">Troubleshooting</h2>
                                <% include blocks/install/troubleshoot.ejs %>


                            </section><!--//doc-section-->
                            <section>
    <div class="text-center" id="licenses">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 question">Licenses</h2>
                <p>Shinobi is free for personal and educational purposes.<br><small class="text-faded">All support packages already include a Business License.</small></p>
            </div>
        </div>
        <style>
        @media screen and (min-width: 1120px) {
              .grid-1-5 {
                width: 24%;
              }
            }
        </style>
        <% include ../pages/blocks/licenses.ejs %>
        <div class="clearfix" style="margin:30px"></div>
    </div>
    <% include blocks/support.ejs %>
                            </section><!--//doc-section-->                            
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar hidden-xs">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu" data-spy="affix">
                                <li><a class="scrollto" href="#download-section">Download</a></li>
                                <li><a class="scrollto" href="#requirement-section">Requirements</a></li>
                                <li>
                                    <a class="scrollto" href="#installation-section">Installation</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#docker">Docker : The Easiest Way</a></li>
                                        <li><a class="scrollto" href="#setup_ubuntu_easy">Ubuntu 16.04 : The Easier Way</a></li>
                                        <li><a class="scrollto" href="#setup_ubuntu_hard">Ubuntu 16.04 : The Harder Way</a></li>
                                        <li><a class="scrollto" href="#setup_macos">Mac OS : Native</a></li>
                                        <li><a class="scrollto" href="#setup_vbox">VirtualBox</a></li>
                                    </ul><!--//nav-->
                                </li>
                                <li>
                                    <a class="scrollto" href="#clean-section">Clean up</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#account-section">Account Management</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#update-section">Updating Shinobi</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#daemon-section">Daemonize and Startup</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#code-section">Configuration</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#config_login">Default Login</a></li>
                                        <li><a class="scrollto" href="#config_conf">conf.json</a></li>
                                    </ul><!--//nav-->
                                </li>
                                <li><a class="scrollto" href="#trouble-section">Troubleshooting</a></li>
                                <li><a class="scrollto" href="#licenses">Licenses</a>
                                    <ul class="nav doc-sub-menu">
                                    <li><a class="scrollto" href="#support">Support Packages</a></li>
                                    </ul>
                                </li>
                                <% include blocks/menu-options.ejs %>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->

<% include blocks/footer.ejs %>

</body>
</html> 

