<% var Title='Get Started'; %>
<% include blocks/header.ejs %>
<body class="body-orange body-dark">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa fa-bolt"></i> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="download-section" class="doc-section">
                                <h2 class="section-title">Download</h2>
                                <div class="section-block">
                                    <p><b>Warning :</b> Shinobi is not for the faint of heart. Currently it is still in heavy development. This project started in November 2016, it should be expected to have bugs and the need for further refinement. If you are unable to get through the installation process please skip Shinobi and try Blue Iris.
                                    </p>
                                    <a href="<%=config.downloadLink%>" class="btn btn-orange" target="_blank"><i class="fa fa-download"></i> Download Shinobi</a>
                                </div>
                            </section><!--//doc-section-->
                            <section id="requirement-section" class="doc-section">
                                <h2 class="section-title">Requirements</h2>
                                <div class="section-block">
                                    <ul>
                                        <li>MySQL Server and Client</li>
                                        <li>Node.js 7.2.0 or higher

                                        <ul>
                                        <li>check your version with <code>nodejs -v</code> or <code>node -v</code>
                                        </li>
                                        </ul>
                                        </li>
                                        <li>FFMPEG 2.8 or higher with libvpx and libx264.

                                        <ul>
                                        <li>libx265 is optional. Choosing not to install it simply means the options for it won't work.</li>
                                        </ul>
                                        </li>
                                        <li>Linux or MacOS base operating system capable of running the previously mentioned libraries and programs.

                                        <ul>
                                        <li>Virtual Machines use Linux.</li>
                                        <li>Currently Windows cannot natively run Shinobi. This is due to the choice of certain exec commands and not the JavaScript itself. You can adapt it for use on Windows but it will take one with a sharp mind and a bold heart.</li>
                                        </ul>
                                        </li>
                                    </ul>
                                </div>
                            </section><!--//doc-section-->
                            <section id="installation-section" class="doc-section">
                                <h2 class="section-title">Installation</h2>
                                <% include blocks/install/ubuntu_easy.ejs %>
                                <% include blocks/install/ubuntu_hard.ejs %>
                                <% include blocks/install/macos.ejs %>
                                <% include blocks/install/vbox.ejs %>
                            </section><!--//doc-section-->
                            <section id="code-section" class="doc-section">
                                <h2 class="section-title">Configuration</h2>
                                <% include blocks/install/config.ejs %>
                            </section><!--//doc-section-->
                            <section id="trouble-section" class="doc-section">
                                <h2 class="section-title">Troubleshooting</h2>
                                <% include blocks/install/troubleshoot.ejs %>
                            </section><!--//doc-section-->                            
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar hidden-xs">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu" data-spy="affix">
                                <li><a class="scrollto" href="#download-section">Download</a></li>
                                <li><a class="scrollto" href="#requirement-section">Requirements</a></li>
                                <li>
                                    <a class="scrollto" href="#installation-section">Installation</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#setup_ubuntu_easy">Ubuntu 16.04 : The Easier Way</a></li>
                                        <li><a class="scrollto" href="#setup_ubuntu_hard">Ubuntu 16.04 : The Harder Way</a></li>
                                        <li><a class="scrollto" href="#setup_macos">Mac OS : Native</a></li>
                                        <li><a class="scrollto" href="#setup_vbox">VirtualBox</a></li>
                                    </ul><!--//nav-->
                                </li>
                                <li>
                                    <a class="scrollto" href="#code-section">Configuration</a>
                                    <ul class="nav doc-sub-menu">
                                        <li><a class="scrollto" href="#config_login">Default Login</a></li>
                                        <li><a class="scrollto" href="#config_conf">conf.json</a></li>
                                    </ul><!--//nav-->
                                </li>
                                <li><a class="scrollto" href="#trouble-section">Troubleshooting</a></li>
                                <li>
                                    <ul class="nav doc-sub-menu">
                                    <li><a href="/docs">Home</a></li>
                                    <li><a href="/docs/faqs" title="Frequently Asked Questions">FAQs</a></li>
                                    <li><a href="/docs/api">API Access</a></li>
                                    </ul>
                                </li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->

<% include blocks/footer.ejs %>

</body>
</html> 

