<div class="section-block">
<ol>
<li>
<p>Rename <code>super.sample.json</code> to <code>super.json</code>. Run the following command inside the Shinobi directory with terminal.</p>

<pre><code>cp super.sample.json super.json
</code></pre>
</li>
<li>
<p>Login from the main dashboard with <code>Superuser</code> selected.</p>

<ul>
<li>
<ul>
<li><code>Username : admin@shinobi.video</code></li>
<li><code>Password : admin</code></li>
</ul>
</li>
</ul>
</li>
<li>
<p>You should now be able to manage accounts.</p>
</li>
</ol>
</div>