<div id="docker"  class="section-block">
    <h3 class="block-title question">Docker : The Easiest Way</h3>
    <h5>Windows and MacOS</h5>
<p>The easiest way to install is Docker and Kitematic.</p>
<ul>
    <li>Shinobi on <a href="https://hub.docker.com/r/shinobicctv/shinobi/">Docker Hub</a></li>
    <li>Kitematic on <a href="https://github.com/docker/kitematic">Github</a></li>
</ul>
    <ol>
        <li><p>Download and Install Kitematic</p></li>
        <li>
            <p>Search for Shinobi on Kitematic and click <b>Create</b></p>
            <img src="/libs/assets/docs/docker1.jpg" style="max-width:100%">
        </li>
        <li>
            <p>Once completed you should see a window like this.</p>
            <img src="/libs/assets/docs/docker2.jpg" style="max-width:100%">
        </li>
        <li>
            <p>Click the <b>Settings</b> tab on the right then click <b>Ports</b> just below it.</p>
            <img src="/libs/assets/docs/docker3.jpg" style="max-width:100%">
        </li>
        <li>
            <p>Click the <b>Web Address with 8083</b> next to it. You will be presented with a login screen. The default credentials are as follows.</p>
            <ul>
            <li><code>Username : ccio@m03.ca</code></li>
            <li><code>Password : password</code></li>
            </ul>
        </li>
        <li>
            <p><b>Updating :</b> Restart the shinobi docker instance to update the following files and folders. They will be overwritten.</p>
            <ul>
            <li><code>camera.js</code></li>
            <li><code>cron.js</code></li>
            <li><code>plugins/motion/shinobi-motion.js</code></li>
            <li><code>UPDATE.sh</code></li>
            <li><code>web/</code></li>
            </ul>
        </li>
        <li>
            <p>Enjoy!</p>
        </li>
        <li>
            <ul>
                <li><a target="_blank" href="https://www.youtube.com/watch?v=hRsp9pMh1M4">How to add more CPUs</a></li>
            </ul>
        </li>
    </ol>
</div>