<div id="setup_ubuntu_hard"  class="section-block">
<h3 class="block-title">Ubuntu 16.04 : The Harder Way</h3>
<ol>
<li><p>Open <code>Terminal</code>.</p></li>
<li>
<p>Download Shinobi with <code>wget</code> if you don't have <code>git</code> installed.</p>

<ul>
<li>Do this only if you haven't already downloaded the files.</li>
</ul>

<pre><code>wget https://github.com/moeiscool/Shinobi/tarball/master
</code></pre>
</li>
<li>
<p>Untar the downloaded file. The extracted directory is the shinobi directory.</p>

<pre><code>tar -xzf master
</code></pre>
</li>
<li>
<p>Rename the directory for easier access. The extracted folder name will be different. <code>moeiscool-Shinobi-XXXXXXX</code> is only an example.</p>

<pre><code>mv moeiscool-Shinobi-XXXXXXX shinobi
</code></pre>
</li>
<li>
<p>Set permissions on the shinobi directory. <em>Where <code>camera.js</code> is located.</em></p>

<pre><code>chmod -R 755 shinobi
</code></pre>
</li>
<li>
<p>Open Shinobi directory.</p>

<pre><code>cd shinobi
</code></pre>

<p><b>Setup SQL</b></p>
</li>
<li>
<p>Go to <code>sql</code> and install the SQL files in your database.</p>

<pre><code>cd sql
</code></pre>
</li>
<li>
<p>Terminal SQL client can be accessed by running :</p>

<ul>
<li>The password will have been set during the installation of MySQL.</li>
</ul>

<pre><code>mysql -u root -p
</code></pre>
</li>
<li>
<p><em>OPTIONAL :</em> Create New SQL User with privileges. If you choose to use your own pre-defined credentials skip this step.</p>

<pre><code>source ./user.sql
</code></pre>

<ul>
<li>or create your own</li>
</ul>

<pre><code>CREATE USER 'majesticflame'@'127.0.0.1' IDENTIFIED BY '';
GRANT ALL PRIVILEGES ON * . * TO 'majesticflame'@'127.0.0.1';
FLUSH PRIVILEGES;
</code></pre>
</li>
<li>
<p>while still in the SQL client. Install the Shinobi database. It will create a database called <code>ccio</code>.</p>

<pre><code>source ./framework.sql
</code></pre>
</li>
<li>
<p><em>OPTIONAL :</em> <code>default_data.sql</code> contains a demo user and a demo <code>rtsp to mp4</code> monitor.</p>

<pre><code>source ./default_data.sql
</code></pre>
</li>
<li>
<p>After importing the data. Exit the sql client.</p>

<pre><code>exit
</code></pre>
</li>
<li>
<p>Go up one directory to enter the main directory. <em>Where <code>camera.js</code> is located.</em> </p>

<pre><code>cd ..
</code></pre>
</li>
<li>
<p>Copy <code>conf.sample.json</code> as another file named <code>conf.json</code>.</p>

<pre><code>cp conf.sample.json conf.json
</code></pre>

<p>14a. Edit <code>conf.json</code> to reflect your sql credentials. I don't reccommend using root.</p>

<pre><code>nano conf.json
</code></pre>

<p>14b. Set your timezone in <code>conf.json</code>. <strong>This is important if your event times are not matching.</strong></p>

<pre><code>"utcOffset":"-0800"
</code></pre>
</li>
</ol>
</div>