<div id="setup_ubuntu_hard"  class="section-block">
<h3 class="block-title question">Ubuntu 16.04 : The Harder Way</h3>
<p><b>Dont have FFMPEG installed?</b></p>
    <ol>
<li>Open <code>Terminal</code>.</li>
<li>
<p>To install :</p>

<pre><code>apt-get install ffmpeg
</code></pre>

<ul>
<li>If that doesn't work try :</li>
</ul>

<pre><code>apt-get install libav-tools
</code></pre>
</li>
</ol>
    <p><b>Dont have Node.js installed?</b></p>
<ol>
<li>Open <code>Terminal</code>.</li>
<li>
<p>Install Node.js and it's package manager</p>

<ul>
<li>
<em>Note :</em> <code>#apt-get install node</code> installs something else, not Node.js.</li>
</ul>

<pre><code>apt-get install nodejs npm
sudo npm cache clean -f
sudo npm install -g n
sudo n stable
</code></pre>
</li>
<li>
<p>Create a symlink to use nodejs.</p>

<ul>
<li>pm2 needs this. If you don't plan on using pm2, then ignore this step.</li>
</ul>

<pre><code>ln -s /usr/bin/nodejs /usr/bin/node
</code></pre>
</li>
<li>Not on Ubuntu? Other operating systems can be found here.

<ul>
<li><a href="https://nodejs.org/en/download/package-manager/">https://nodejs.org/en/download/package-manager/</a></li>
</ul>
</li>
</ol>
<p><b>Dont have MySQL installed?</b></p>
<ol>
<li>
<p>Open <code>Terminal</code>. Run :</p>

<pre><code>apt-get install mysql-server
</code></pre>
</li>
<li><p>Installation of MySQL prompt you to set a password for <code>root</code> user in MySQL on your first install.</p></li>
</ol>
<ul>
<li>Mac OS (will need more techiness ironically, follow this link) : <a href="https://blog.joefallon.net/2013/10/install-mysql-on-mac-osx-using-homebrew/">https://blog.joefallon.net/2013/10/install-mysql-on-mac-osx-using-homebrew/</a> .</li>
</ul>
<p><b>Application Install</b></p> 
<ol>
<li><p>Open <code>Terminal</code>.</p></li>
<li>
<p>Download Shinobi with <code>wget</code> if you don't have <code>git</code> installed.</p>

<ul>
<li>Do this only if you haven't already downloaded the files.</li>
</ul>

<pre><code>wget https://github.com/moeiscool/Shinobi/tarball/master
</code></pre>
</li>
<li>
<p>Untar the downloaded file. The extracted directory is the shinobi directory.</p>

<pre><code>tar -xzf master
</code></pre>
</li>
<li>
<p>Rename the directory for easier access. The extracted folder name will be different. <code>moeiscool-Shinobi-XXXXXXX</code> is only an example.</p>

<pre><code>mv moeiscool-Shinobi-XXXXXXX shinobi
</code></pre>
</li>
<li>
<p>Set permissions on the shinobi directory. <em>Where <code>camera.js</code> is located.</em></p>

<pre><code>chmod -R 755 shinobi
</code></pre>
</li>
<li>
<p>Open Shinobi directory.</p>

<pre><code>cd shinobi
</code></pre>

<p><b>Setup SQL</b></p>
</li>
<li>
<p>Go to <code>sql</code> and install the SQL files in your database.</p>

<pre><code>cd sql
</code></pre>
</li>
<li>
<p>Terminal SQL client can be accessed by running :</p>

<ul>
<li>The password will have been set during the installation of MySQL.</li>
</ul>

<pre><code>mysql -u root -p
</code></pre>
</li>
<li>
<p><em>OPTIONAL :</em> Create New SQL User with privileges. If you choose to use your own pre-defined credentials skip this step.</p>

<pre><code>source ./user.sql
</code></pre>

<ul>
<li>or create your own</li>
</ul>

<pre><code>CREATE USER 'majesticflame'@'127.0.0.1' IDENTIFIED BY '';
GRANT ALL PRIVILEGES ON * . * TO 'majesticflame'@'127.0.0.1';
FLUSH PRIVILEGES;
</code></pre>
</li>
<li>
<p>while still in the SQL client. Install the Shinobi database. It will create a database called <code>ccio</code>.</p>

<pre><code>source ./framework.sql
</code></pre>
</li>
<li>
<p><em>OPTIONAL :</em> <code>default_data.sql</code> contains a demo user and a demo <code>rtsp to mp4</code> monitor.</p>

<pre><code>source ./default_data.sql
</code></pre>
</li>
<li>
<p>After importing the data. Exit the sql client.</p>

<pre><code>exit
</code></pre>
</li>
<li>
<p>Go up one directory to enter the main directory. <em>Where <code>camera.js</code> is located.</em> </p>

<pre><code>cd ..
</code></pre>
</li>
<li>
<p>Copy <code>conf.sample.json</code> as another file named <code>conf.json</code>.</p>

<pre><code>cp conf.sample.json conf.json
</code></pre>

<p>14a. Edit <code>conf.json</code> to reflect your sql credentials. I don't reccommend using root.</p>

<pre><code>nano conf.json
</code></pre>

<p>14b. Set your timezone in <code>conf.json</code>. <strong>This is important if your event times are not matching.</strong></p>

<pre><code>"utcOffset":"-0800"
</code></pre>
</li>
</ol>
</div>