<div class="section-block">
<p>The easiest way to update is to just overwrite the <code>web</code> folder and <code>camera.js</code> files.</p>
</div>
<div class="section-block">
<h3 class="block-title question"><a class="anchor" href="#update-shinobi-from-this-repository"></a>Github Pull Method <small>Easy, Complete</small></h3>

<pre><code>git checkout master
git pull https://github.com/moeiscool/Shinobi.git <i>dev</i></code></pre>
</div>
<div class="section-block">
<h3 class="block-title question"><a class="anchor" href="#update-shinobi-from-this-repository"></a>Update Shinobi with built in script <small>Easy, does not update plugins at this time</small></h3>
<p>This overwrites <strong>camera.js</strong>, <strong>web</strong>, and <strong>UPDATE.sh</strong> </p>

<pre><code>http://xxx.xxx.xxx.xxx/[API KEY]/update/[UPDATE KEY]
</code></pre>
</div>