<div class="branding">
    <h1 class="logo pull-left">
        <a href="/">
            <img style="height:40px;border-radius:50%" src="/libs/assets/icon/apple-touch-icon-57x57.png">
        </a>
        <a href="/docs">
            <span class="text-highlight">Shinobi</span><span class="text-bold">Docs</span>
        </a>
    </h1>
    <div class="pull-right">
<iframe data-aa='494489' src='//ad.a-ads.com/494489?size=320x50' scrolling='no' style='width:320px; height:50px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
    </div>
</div>
<% var Title; if(Title){ %>
<ol class="breadcrumb">
    <li><a href="/docs">Home</a></li>
    <li class="active"><%= Title %></li>
</ol>
<% } %>