<div class="branding">
    <h1 class="logo">
        <a href="/">
            <img style="height:40px;border-radius:50%" src="/libs/assets/icon/apple-touch-icon-57x57.png">
        </a>
        <a href="/docs">
            <span class="text-highlight">Shinobi</span><span class="text-bold">Docs</span>
        </a>
    </h1>
</div>
<% var Title; if(Title){ %>
<ol class="breadcrumb">
    <li><a href="/docs">Home</a></li>
    <li class="active"><%= Title %></li>
</ol>
<% } %>