<div class="branding">
    <h1 class="logo pull-left">
        <a href="/">
            <img style="height:40px;border-radius:50%" src="/libs/assets/icon/apple-touch-icon-57x57.png">
        </a>
        <a href="/docs">
            <span class="text-highlight">Shinobi</span><span class="text-bold">Docs</span>
        </a>
    </h1>
    <div class="pull-right">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bar-skinny -->
<ins class="adsbygoogle"
     style="display:inline-block;width:600px;height:50px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="3180163319"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</div>
<% var Title; if(Title){ %>
<ol class="breadcrumb">
    <li><a href="/docs">Home</a></li>
    <li class="active"><%= Title %></li>
</ol>
<% } %>