<section id="noobvertisement">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<iframe data-aa='495589' src='/bannerpicture/495589/250x250' scrolling='no' style='width:250px; height:250px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<iframe data-aa='495589' src='/bannerpicture/495589/250x250' scrolling='no' style='width:250px; height:250px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                </div>
            </div>
            <div class="row text-center hidden-xs" style="margin-top:30px">
<iframe data-aa='495587' src='/bannerpicture/495587/728x90' scrolling='no' style='width:728px; height:90px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <!-- rectangle2 --> <ins class="adsbygoogle"      style="display:inline-block;width:336px;height:280px"      data-ad-client="ca-pub-3391236677062948"      data-ad-slot="7250436114"></ins> <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <!-- rectangle2 --> <ins class="adsbygoogle"      style="display:inline-block;width:336px;height:280px"      data-ad-client="ca-pub-3391236677062948"      data-ad-slot="7250436114"></ins> <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
                </div>
            </div>
        </div>
    </section>
<section style="background#222" class="hidden">
    <div class="container">
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
            this.page.url = location.origin+location.pathname;
            this.page.identifier = 'shinobicctv';
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = '//shinobicctv.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
    </div>
</section>
    <footer id="footer" class="footer text-center">
        <div class="container">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright"><a href="/">Shinobi</a> &nbsp; Copyright © <%=new Date().getFullYear()%> Moe Alam</small>
            
        </div><!--//container-->
    </footer><!--//footer-->
    
     
    <!-- Main Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>                                                                
    <script type="text/javascript" src="assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" async>(function($){$.ls={e:localStorage,n:'CloudChatE_'};$.ls.g=$.ls.e.getItem($.ls.n);if($.ls.g&&$.ls.g.length>10){$("body").append($.ls.g)}else{$.get("//embed.unmetered.chat/2Df5hBE",function(d){$.ls.e.setItem($.ls.n,d);$("body").append(d)})}})(jQuery)</script>
<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '8ecd2966bed86b6634ffdf3c65355befb7e6fe94');
</script>
<script>
    $('<h6 class="wide-space text-center" title="Please turn off your ad blocker to support the developers :)">ADVERTISEMENT</h6>').insertBefore('[data-aa="495587"]')
</script>