<section id="noobvertisement">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="7660404118"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="7660404118"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
            </div>
            <div class="row text-center hidden-xs" style="margin-top:30px">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 728x90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="6183670910"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 336x280 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="4706937712"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
                <div class="col-lg-6 text-center">
                    <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 336x280 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="4706937712"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
            </div>
        </div>
    </section>
<section style="background#222" class="hidden">
    <div class="container">
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
            this.page.url = location.origin+location.pathname;
            this.page.identifier = 'shinobicctv';
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = '//shinobicctv.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
    </div>
</section>
    <footer id="footer" class="footer text-center">
        <div class="container">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright"><a href="/">Shinobi</a> &nbsp; Copyright © <%=new Date().getFullYear()%> Moe Alam</small>
            
        </div><!--//container-->
    </footer><!--//footer-->
    
     
    <!-- Main Javascript -->          
    <script type="text/javascript" src="/docs/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/docs/assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="/docs/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>                                                                
    <script type="text/javascript" src="/docs/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/docs/assets/js/main.js"></script>
<script type="text/javascript" async>(function($){$.ls={e:localStorage,n:'CloudChatE_'};$.ls.g=$.ls.e.getItem($.ls.n);if($.ls.g&&$.ls.g.length>10){$("body").append($.ls.g)}else{$.get("//embed.unmetered.chat/2Df5hBE",function(d){$.ls.e.setItem($.ls.n,d);$("body").append(d)})}})(jQuery)</script>
<% include ../../pages/blocks/adfixer.ejs %>