<li>
    <a href="/docs">Docs Home</a>
    <ul class="nav doc-sub-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/docs/faqs" title="Frequently Asked Questions">FAQs</a></li>
    <li><a href="/docs/api">API Access</a></li>
    <li><a href="/docs/credits">Credits</a></li>
    <li><a href="/docs/supported">Supported</a></li>
    <li><a href="/docs/donate">Donate</a></li>
    <li><a href="/docs/plugins">Plugins</a></li>
    <li><a href="/docs/motion">Motion</a></li>
    <li><a href="/docs/contribute">Contribute</a></li>
    <li><a href="/docs/settings">Settings</a></li>
        <li><iframe data-aa='496531' src='//ad.a-ads.com/496531?size=120x600' scrolling='no' style='width:120px; height:600px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe></li>
    </ul>
</li>