<li>
    <a href="/docs">Docs Home</a>
    <ul class="nav doc-sub-menu">
        <li><a href="/">Home</a></li>
    <li><a href="/support">Support Packages</a></li>
    <li><a href="/metal">Cloud Hosting</a></li>
    <li><a href="/docs/faqs" title="Frequently Asked Questions">FAQs</a></li>
    <li><a href="/docs/api">API Access</a></li>
    <li><a href="/docs/credits">Credits</a></li>
    <li><a href="/docs/supported">Supported</a></li>
    <li><a href="/docs/donate">Donate</a></li>
    <li><a href="/docs/plugins">Plugins</a></li>
    <li><a href="/docs/motion">Motion</a></li>
    <li><a href="/docs/contribute">Contribute</a></li>
    <li><a href="/docs/settings">Settings</a></li>
        <li style='width:120px; height:600px;overflow:hidden'>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 120x600 vertical -->
<ins class="adsbygoogle"
     style="display:inline-block;width:120px;height:600px"
     data-ad-client="ca-pub-3391236677062948"
     data-ad-slot="9137137312"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </li>
    </ul>
</li>