<div id="support">
    <div class="row">
        <div class="col-lg-6 text-center">
            <h2 class="margin-top-0 question">Support Packages</h2>
            <br>
                <p class="large">We will answer your questions about how Shinobi works, the different ways you can use it, and it's documentation. We will keep your installation maintained with the latest stable build.</p>
                <p class="large">Ordering a support package also supports the developers.</p>
                <p class="large">All support packages already include a <b>Business License</b>.</p>
            <div class="btn-group">
                <a href="/support" class="btn btn-default btn-lg">More Details</a> 
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/libs/assets/hero.png">
        </div>
    </div>
</div>