<div class="jumbotron">
    <h1><i class="fa fa-twitter"></i> Themes built with Twitter Bootstrap</h1>
    <p>You can use this page layout to showcase how other people are using your projects. Below is a list of UX-centred Bootstrap themes I made for developers.</p>
    <a class="scrollto btn btn-blue btn-cta" href="#theme-start">Explore Now</a>
</div><!--//jumbotron-->